{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="{% static 'autenticacao/css/style.css' %}"
    type"text/css">

    <link
      rel="stylesheet"
      href="{% static 'autenticacao/css/pagina-inicial.css' %}"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="{% static 'autenticacao/css/media-query.css' %}"
      type="text/css"
    />

    <title>Santo Scenarium</title>
  </head>

  <body>
    <section class="main-login">
      <div class="card-login">
        <h1>Gerenciamento de utensílios</h1>

        <nav class="btn-geral">
          <ul class="btn-list">
            <li onclick="adicionarQuantidade()">Atualizar</li>
            <li onclick="diminuirQuantidade()">Registrar Perda</li>
          </ul>
        </nav>

        <div class="textfield">
          <label for="produto">Produto:</label>
          <input
            type="text"
            id="campo_produto"
            placeholder="Digite o produto"
            oninput="buscarProduto()"
          />
          <div id="lista_sugestoes" class="lista-sugestoes">
            <!-- As sugestões serão inseridas aqui pelo JavaScript -->
          </div>
        </div>

        <div class="textfield">
          <label for="campo_data">Data:</label>
          <input type="date" id="campo_data" name="data_contagem" />
        </div>

        <div class="textfield">
          <label for="tipo">Tipo: </label>
          <input
            type="text"
            name="tipo"
            id="tipo"
            placeholder="Ex: copo, garfo"
            required
          />
        </div>

        <div class="textfield">
          <label for="quantidade">Quantidade: </label>
          <input
            type="number"
            name="campo_quantidade"
            id="campo_quantidade"
            placeholder="Quantidade a ser adicionada ou retirada"
            required
          />
        </div>

        <div class="textfield">
          <label for="mensagem">Alertas</label>
          <textarea name="mensagem" id="alertas" cols="30" rows="5">
            {% for alerta in alertas %}
            {{ alerta }}
            {% endfor %}
          </textarea>
        </div>

        <button id="btnExportar" class="btn-login">Exportar</button>
      </div>
    </section>

    <script>
      function buscarProduto() {
        var termo = document.getElementById('campo_produto').value;
        var listaSugestoes = document.getElementById('lista_sugestoes');

        while (listaSugestoes.firstChild) {
          listaSugestoes.removeChild(listaSugestoes.firstChild);
        }

        if (termo.length >= 2) {
          fetch(
            `/pagina_inicial/buscar-produtos/?termo=${encodeURIComponent(
              termo,
            )}`,
          )
            .then((response) => response.json())
            .then((data) => {
              if (data.length) {
                listaSugestoes.classList.add('visible');
              } else {
                listaSugestoes.classList.remove('visible');
              }
              data.forEach((nomeProduto) => {
                var div = document.createElement('div');
                div.textContent = nomeProduto;
                div.onclick = function () {
                  document.getElementById('campo_produto').value = nomeProduto;
                  listaSugestoes.classList.remove('visible');
                };
                listaSugestoes.appendChild(div);
              });
            })
            .catch((error) => console.error('Erro:', error));
        } else {
          listaSugestoes.classList.remove('visible');
        }
      }

      // Clique fora das sugestões para esconder a lista
      document.addEventListener('click', function (e) {
        var listaSugestoes = document.getElementById('lista_sugestoes');
        if (!listaSugestoes.contains(e.target)) {
          listaSugestoes.classList.remove('visible');
        }
      });

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + '=') {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1),
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      const csrftoken = getCookie('csrftoken');

      function adicionarQuantidade() {
        // Obter os valores dos inputs
        var nomeProduto = document.getElementById('campo_produto').value;
        var quantidadeAdicionar =
          document.getElementById('campo_quantidade').value;
        var dataContagem = document.getElementById('campo_data').value;

        // Verificar se os campos estão preenchidos
        if (!nomeProduto || !quantidadeAdicionar || !dataContagem) {
          alert('Por favor, preencha todos os campos.');
          return;
        }

        // Enviar requisição para o servidor
        fetch('atualizar_quantidade/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            // Adicione aqui o token CSRF se for necessário
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify({
            nome: nomeProduto,
            quantidade: quantidadeAdicionar,
            data_contagem: dataContagem,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              alert('Quantidade atualizada com sucesso.');
              window.location.reload(); // Recarrega a página
            } else {
              alert('Erro ao atualizar quantidade: ' + data.error);
            }
          })
          .catch((error) => {
            console.error('Erro na requisição:', error);
          });
      }

      function diminuirQuantidade() {
        // Obter os valores dos inputs
        var nomeProduto = document.getElementById('campo_produto').value;
        var quantidadeDiminuir =
          document.getElementById('campo_quantidade').value;

        // Verificar se os campos estão preenchidos
        if (!nomeProduto || !quantidadeDiminuir) {
          alert('Por favor, preencha todos os campos.');
          return;
        }

        // Enviar requisição para o servidor
        fetch('diminuir_quantidade/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            // Adicione aqui o token CSRF se for necessário
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify({
            nome: nomeProduto,
            quantidade: quantidadeDiminuir,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              alert('Quantidade atualizada com sucesso.');
              window.location.reload(); // Recarrega a página
            } else {
              alert('Erro ao atualizar quantidade: ' + data.error);
            }
          })
          .catch((error) => {
            console.error('Erro na requisição:', error);
          });
      }

      document
        .getElementById('btnExportar')
        .addEventListener('click', function () {
          fetch('exportar_produtos_xlsx/')
            .then((response) => {
              if (response.ok) {
                return response.blob();
              } else {
                throw new Error(
                  'Ocorreu um erro ao gerar o arquivo de exportação.',
                );
              }
            })
            .then((blob) => {
              // Cria um link temporário para fazer o download do arquivo blob
              const url = window.URL.createObjectURL(blob);
              const a = document.createElement('a');
              a.style.display = 'none';
              a.href = url;
              // Define o nome do arquivo para download
              a.download = 'produtos_exportados.xlsx';
              document.body.appendChild(a);
              a.click();
              window.URL.revokeObjectURL(url);
              alert('Exportação concluída!');
            })
            .catch((error) => {
              console.error('Erro na exportação:', error);
              alert(error.message);
            });
        });
    </script>
  </body>
</html>
